# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv

*.egg-info/
dist/
build/
*.egg

# IDE
.vscode/
.idea/
*.swp

# Database
*.db
*.sqlite
*.sqlite3


# Pytest
.pytest_cache/
.coverage
htmlcov/

.mypy_cache/